@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Noto+Sans&family=Press+Start+2P&family=Roboto:wght@400;500;700;900&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#bg{
  position: fixed;
  top: 0;
  z-index: -2;
  left: 0;
}

.center{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.center p{
  font-weight: 600;
  color: white;
  font-size: 20px;
  padding-top: 100px;
}